
.navbar-nav{
    text-align: center;
}
.bas{
    position: relative;
    text-align: center;
    color: white;
}
.center{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(241, 250, 247);
}
img {
    -webkit-filter: blur(6px); 
    filter: blur(6px);
  }
 
  .main-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(4, 7, 2);
  }
  .address{
    width: 80%;
    
  }
  .from{
    width: 50%;
    color: white;
    padding-left:10px ;
    
 }
 .address1{
   color: whitesmoke;
   width: 50%;
 }
 .form1{
  color: whitesmoke;
  width: 50%;
}
.bg-black{
background-color: #000000;
}

